@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply text-gray-700;
    }
    * {
        box-sizing: border-box;
    }
    a,
    button {
        @apply text-sm transition-all cursor-pointer;
    }
    p {
        @apply text-sm leading-normal;
    }
}

@layer components {
    /* container */
    .container {
        @apply w-full max-w-6xl px-5 mx-auto;
    }

    /* box */
    .box {
        @apply p-4 bg-white rounded-lg shadow sm:p-6 xl:p-8;
    }
    .box-nav {
        @apply px-4 bg-white rounded-lg rounded-t-none shadow sm:px-6 xl:px-8;
    }

    /* buttons */
    .btn {
        @apply inline-block px-4 py-2 text-sm font-semibold transition-all bg-transparent border rounded cursor-pointer;
    }
    .btn-primary {
        @apply text-white bg-blue-500 border border-blue-500 hover:bg-blue-600 hover:text-white;
    }
    .btn-secondary {
        @apply text-gray-700 bg-gray-200 border border-gray-200 hover:bg-gray-300;
    }
    .btn-danger {
        @apply text-white bg-red-500 border border-red-500 hover:bg-red-600;
    }

    /* form */
    .input-label {
        @apply inline-block w-full mb-1 text-sm font-semibold text-gray-700;
    }
    .input-label-error {
        @apply inline-block ml-1 text-sm text-red-500;
    }
    .input:not([type=checkbox]) {
        @apply w-full px-3 py-2 text-sm rounded;
    }
    .input-error {
        @apply text-red-500 bg-red-100 border border-red-500;
    }
    .input-success {
        @apply text-green-500 bg-green-100 border border-green-500;
    }
}

/* Alpine js x-clock */
[x-cloak] {
    display: none !important;
}

/* navbar */
.nav-hero {
    @apply absolute top-0 w-full pt-2 z-[100] nav:pt-5;
}
.nav {
    @apply w-full bg-blue-500 nav:py-1;
    /* #00000099 */
    /* background-image: url(/images/hero.jpg);
    box-shadow: inset 0 0 0 2000px #3089ffCC;
    @apply bg-center bg-no-repeat bg-cover; */
}
.nav-wrapper {
    @apply fixed top-0 left-0 flex flex-col justify-center w-full h-0 overflow-hidden transition-all z-[100];
    @apply nav:static nav:flex-row nav:justify-start nav:w-auto nav:h-auto nav:bg-transparent nav:flex nav:border-none nav:shadow-none;
    background-image: url(/images/hero.jpg);
    box-shadow: inset 0 0 0 2000px #3089ffCC;
    @apply bg-center bg-no-repeat bg-cover nav:shadow-none nav:bg-none;
}
.nav-link {
    @apply inline-block w-full py-3 text-lg text-center text-white uppercase hover:underline underline-offset-4;
    @apply nav:px-6 nav:py-2 nav:text-[.95rem];
}
.nav-link-active {
    @apply underline;
}

/* DATATABLES */

@import url("/vendor/datatables/datatables.min.css");

.datatableFixHead {
    overflow-y: auto;
    height: 80vh;
}
.datatableFixHead thead tr th {
    position: sticky;
    top: 0;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    padding: 5px 9px;
}

.datatableFixHead thead > tr:nth-child(2) th {
    top: 2.1em;
}

/* Photo Swiper Caption plugin */
.pswp__dynamic-caption {
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: opacity 120ms linear !important; /* override default */
}

.pswp-caption-content {
    display: none;
}

.pswp__dynamic-caption a {
    color: #fff;
}

.pswp__dynamic-caption--faded {
    opacity: 0 !important;
}

.pswp__dynamic-caption--aside {
    width: auto;
    max-width: 300px;
    padding: 20px 15px 20px 20px;
    margin-top: 70px;
}

.pswp__dynamic-caption--below {
    width: auto;
    max-width: 700px;
    padding: 15px 0 0;
}

.pswp__dynamic-caption--on-hor-edge {
    padding-left: 15px;
    padding-right: 15px;
}

.pswp__dynamic-caption--mobile {
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}
